<h2>References</h2>

<div class="references">

<p class="ref-item">Abedi, J., Dykaar, H., &amp; Afshordi, N. 2017, <em>Phys. Rev. D</em>, 96, 082004 (arXiv:1612.00266)</p>

<p class="ref-item">Allen, M. G., Groves, B. A., Dopita, M. A., Sutherland, R. S., &amp; Kewley, L. J. 2008, <em>ApJS</em>, 178, 20 (arXiv:0805.0204)</p>

<p class="ref-item">Barro, G., et al. 2025, <em>From "The Cliff" to "Virgil": Mapping the Spectral Diversity of Little Red Dots with JWST/NIRSpec</em> (arXiv:2512.15853)</p>

<p class="ref-item">Bland-Hawthorn, J., &amp; Gerhard, O. 2016, <em>ARA&amp;A</em>, 54, 529 (Milky Way mass model)</p>

<p class="ref-item">Campanelli, M., Lousto, C. O., Zlochower, Y., &amp; Merritt, D. 2007, <em>Phys. Rev. Lett.</em> (arXiv:gr-qc/0702133)</p>

<p class="ref-item">Cardoso, V., Hopper, S., Macedo, C. F. B., Palenzuela, C., &amp; Pani, P. 2016, <em>Phys. Rev. D</em>, 94, 084031 (arXiv:1608.08637)</p>

<p class="ref-item">Chen, K., Li, Z., Inayoshi, K., &amp; Ho, L. C. 2025, <em>ApJ Lett.</em> (DOI: 10.3847/2041-8213/ae1955; arXiv:2505.22600)</p>

<p class="ref-item">Colpi, M., &amp; Dotti, M. 2011, <em>Adv. Astron.</em>, 2011, 1 (arXiv:0906.4339)</p>

<p class="ref-item">Colpi, M., Geppert, U., &amp; Page, D. 2000, <em>ApJ</em>, 529, L29 (DOI: 10.1086/312448; arXiv:astro-ph/9912066)</p>

<p class="ref-item">Donato, F., Gentile, G., Salucci, P., et al. 2009, <em>MNRAS</em>, 397, 1169 (DOI: 10.1111/j.1365-2966.2009.15004.x; arXiv:0904.4054)</p>

<p class="ref-item">Delvecchio, I., et al. 2025, <em>A&amp;A</em> (DOI: 10.1051/0004-6361/202557164; arXiv:2509.07100)</p>

<p class="ref-item">Event Horizon Telescope Collaboration. 2019, <em>ApJ Lett.</em>, 875, L1 (DOI: 10.3847/2041-8213/ab0ec7; M87* image)</p>

<p class="ref-item">Event Horizon Telescope Collaboration. 2021, <em>ApJ Lett.</em>, 910, L12 (DOI: 10.3847/2041-8213/abe71d; M87* polarization)</p>

<p class="ref-item">Event Horizon Telescope Collaboration. 2021, <em>ApJ Lett.</em>, 910, L13 (DOI: 10.3847/2041-8213/abe71e; EHT Paper VII)</p>

<p class="ref-item">Event Horizon Telescope Collaboration. 2022, <em>ApJ Lett.</em>, 930, L12 (DOI: 10.3847/2041-8213/ac6674; Sgr A* image)</p>

<p class="ref-item">Heeck, J., et al. 2021, <em>Phys. Rev. D</em>, 103, 115004 (arXiv:2009.08463)</p>

<p class="ref-item">Hui, L., Ostriker, J. P., Tremaine, S., &amp; Witten, E. 2017, <em>Phys. Rev. D</em>, 95, 043541 (DOI: 10.1103/PhysRevD.95.043541; arXiv:1610.08297)</p>

<p class="ref-item">Komossa, S. 2012, <em>Recoiling black holes: electromagnetic signatures, candidates, and astrophysical implications</em> (arXiv:1202.1977)</p>

<p class="ref-item">Coleman, S. 1985, <em>Nucl. Phys. B</em>, 262, 263 (DOI: 10.1016/0550-3213(85)90286-X)</p>

<p class="ref-item">Gleiser, M. 1994, <em>Phys. Rev. D</em>, 49, 2978 (DOI: 10.1103/PhysRevD.49.2978; arXiv:hep-ph/9308279)</p>

<p class="ref-item">Gaia Collaboration. 2023, <em>A&amp;A</em>, 674, A1 (Gaia Data Release 3)</p>

<p class="ref-item">Gong, Y., Papantonopoulos, E., &amp; Yi, Z. 2018, <em>Eur. Phys. J. C</em>, 78, 738 (DOI: 10.1140/epjc/s10052-018-6227-9; arXiv:1711.04102)</p>

<p class="ref-item">Gronke, M., &amp; Oh, S. P. 2018, <em>MNRAS</em>, 480, L111 (arXiv:1806.02729)</p>

<p class="ref-item">Hviding, R. E., et al. 2025, <em>A&amp;A</em> (DOI: 10.1051/0004-6361/202555816; arXiv:2506.05459)</p>

<p class="ref-item">Seidel, E., &amp; Suen, W.-M. 1991, <em>Phys. Rev. Lett.</em>, 66, 1659 (DOI: 10.1103/PhysRevLett.66.1659)</p>

<p class="ref-item">Kusenko, A. 1997, <em>Phys. Lett. B</em>, 404, 285 (arXiv:hep-th/9704073)</p>

<p class="ref-item">Lelli, F., McGaugh, S. S., &amp; Schombert, J. M. 2016, <em>AJ</em>, 152, 157 (SPARC Database)</p>

<p class="ref-item">McGaugh, S. S., Lelli, F., &amp; Schombert, J. M. 2016, <em>Phys. Rev. Lett.</em>, 117, 201101 (DOI: 10.1103/PhysRevLett.117.201101; arXiv:1609.05917)</p>

<p class="ref-item">McGaugh, S. S., Schombert, J. M., Bothun, G. D., &amp; de Blok, W. J. G. 2000, <em>ApJ Lett.</em>, 533, L99 (DOI: 10.1086/312628; arXiv:astro-ph/0003001)</p>

<p class="ref-item">Ogiya, G., &amp; Nagai, D. 2023, <em>ApJ Lett.</em>, 958, L5 (arXiv:2309.09031)</p>

<p class="ref-item">Poggianti, B. M., et al. 2019, <em>ApJ</em>, 874, 140 (arXiv:1810.05164)</p>

<p class="ref-item">Rybicki, G. B., &amp; Lightman, A. P. 1979, <em>Radiative Processes in Astrophysics</em> (Wiley-VCH)</p>

<p class="ref-item">Sanchez Almeida, J., Montes, M., &amp; Trujillo, I. 2023, <em>A&amp;A</em> (DOI: 10.1051/0004-6361/202346430; arXiv:2304.12344)</p>

<p class="ref-item">Schive, H.-Y., Chiueh, T., &amp; Broadhurst, T. 2014, <em>Phys. Rev. Lett.</em>, 113, 261302 (DOI: 10.1103/PhysRevLett.113.261302; arXiv:1407.7762)</p>

<p class="ref-item">Sutherland, R. S., &amp; Dopita, M. A. 1993, <em>ApJS</em>, 88, 253 (DOI: 10.1086/191823)</p>

<p class="ref-item">Smawfield, M. L. 2025a, <em>The Temporal Equivalence Principle: Dynamic Time, Emergent Light Speed, and a Two-Metric Geometry of Measurement</em> (v0.6), Zenodo, DOI: 10.5281/zenodo.16921911 (Paper 0: Theory)</p>

<p class="ref-item">Smawfield, M. L. 2025b, <em>Global Time Echoes: Distance-Structured Correlations in GNSS Clocks</em> (v0.23), Zenodo, DOI: 10.5281/zenodo.17127229 (Paper 1: Multi-Center Validation)</p>

<p class="ref-item">Smawfield, M. L. 2025c, <em>Global Time Echoes: 25-Year Temporal Evolution of Distance-Structured Correlations in GNSS Clocks</em> (v0.16), Zenodo, DOI: 10.5281/zenodo.17517141 (Paper 2: Longspan Analysis)</p>

<p class="ref-item">Smawfield, M. L. 2025d, <em>Global Time Echoes: Raw RINEX Validation of Distance-Structured Correlations in GNSS Clocks</em> (v0.4), Zenodo, DOI: 10.5281/zenodo.17860166 (Paper 3: Raw Data Validation)</p>

<p class="ref-item">Smawfield, M. L. 2025e, <em>Temporal-Spatial Coupling in Gravitational Lensing: A Reinterpretation of Dark Matter Observations</em> (v0.3), Zenodo, DOI: 10.5281/zenodo.17982540 (Paper 4: TEP-GL / Phantom Mass)</p>

<p class="ref-item">Smawfield, M. L. 2025f, <em>Global Time Echoes: Optical Validation of the Temporal Equivalence Principle via Satellite Laser Ranging</em> (v0.1), Zenodo, DOI: 10.5281/zenodo.18064582 (Paper 5: TEP-SLR)</p>

<p class="ref-item">Smawfield, M. L. 2025g, <em>Global Time Echoes: Empirical Validation of the Temporal Equivalence Principle</em> (v0.2), Zenodo, DOI: 10.5281/zenodo.18004832 (Synthesis: TEP-GTE)</p>

<p class="ref-item">Smawfield, M. L. 2025h, <em>Universal Critical Density: Unifying Atomic, Galactic, and Compact Object Scales via the Temporal Equivalence Principle</em> (v0.1), Zenodo, DOI: 10.5281/zenodo.18064366 (Paper 7: This Work)</p>

<p class="ref-item">Smawfield, M. L. 2025i, <em>The Soliton Wake: A Runaway Black Hole as a Gravitational Soliton</em> (v0.1), Zenodo, DOI: 10.5281/zenodo.18059251 (Paper 8: TEP-RBH Companion Paper)</p>

<p class="ref-item">Stevenson, S. D., et al. 2025, <em>MNRAS</em> (DOI: 10.1093/mnras/staf2087; arXiv:2509.06913)</p>

<p class="ref-item">TDCOSMO Collaboration. 2025, <em>A&amp;A</em> (DOI: 10.1051/0004-6361/202555801; arXiv:2506.03023)</p>

<p class="ref-item">van Dokkum, P., et al. 2023, <em>ApJ Lett.</em>, 946, L50 (arXiv:2302.04888)</p>

<p class="ref-item">van Dokkum, P., et al. 2025, <em>JWST Confirmation of a Runaway Supermassive Black Hole via its Supersonic Bow Shock</em> (arXiv)</p>

<p class="ref-item">Taylor, J. H., &amp; Weisberg, J. M. 1982, <em>ApJ</em>, 253, 908 (DOI: 10.1086/159690)</p>

<p class="ref-item">Vainshtein, A. I. 1972, <em>Phys. Lett. B</em>, 39, 393 (DOI: 10.1016/0370-2693(72)90147-5)</p>

<p class="ref-item">Weisberg, J. M., &amp; Taylor, J. H. 2005, <em>Binary Radio Pulsars</em>, ASP Conf. Ser., 328, 25 (arXiv:astro-ph/0407149)</p>

<p class="ref-item">Westerweck, J., et al. 2018, <em>Phys. Rev. D</em>, 97, 124037 (arXiv:1712.09966)</p>

<p class="ref-item">Will, C. M. 2014, <em>Living Rev. Relativ.</em>, 17, 4 (DOI: 10.12942/lrr-2014-4; arXiv:1403.7377)</p>

<p class="ref-item">Williams, J. G., Turyshev, S. G., &amp; Boggs, D. H. 2012, <em>Class. Quantum Grav.</em>, 29, 184004 (DOI: 10.1088/0264-9381/29/18/184004; arXiv:1203.2150)</p>

<p class="ref-item">Younes, G., et al. 2020, <em>ApJ Lett.</em>, 896, L42 (DOI: 10.3847/2041-8213/ab9a48; arXiv:2006.02814)</p>

<p class="ref-item">Younes, G., et al. 2022, <em>Nature Astronomy</em>, 7, 339 (arXiv:2210.11518)</p>

<p class="ref-item">Pintore, F., et al. 2016, <em>MNRAS</em>, 458, 2088 (DOI: 10.1093/mnras/stw449; arXiv:1602.05950)</p>

<p class="ref-item">Ray, P. S., et al. 2019, <em>ApJ</em>, 879, 130 (DOI: 10.3847/1538-4357/ab24d8)</p>

<p class="ref-item">Tuo, Y. L., et al. 2024, <em>ApJ</em>, 966, 80 (DOI: 10.3847/1538-4357/ad2fb6; arXiv:2403.12137)</p>

<p class="ref-item">Kramer, M., et al. 2006, <em>Science</em>, 314, 97 (DOI: 10.1126/science.1132305)</p>

<p class="ref-item">Zhang, H., et al. 2025, <em>Polarization Images of Solitonic Boson Stars</em> (arXiv:2508.11992)</p>

<p class="ref-item">van Dokkum, P., et al. 2018, <em>Nature</em>, 555, 629 (DOI: 10.1038/nature25767)</p>

<p class="ref-item">van Dokkum, P., et al. 2019, <em>ApJ Lett.</em>, 874, L5 (DOI: 10.3847/2041-8213/ab0d92)</p>

<p class="ref-item">van Dokkum, P., et al. 2022, <em>Nature</em>, 605, 435 (DOI: 10.1038/s41586-022-04665-6)</p>

<p class="ref-item">Jiao, Y., et al. 2023, <em>A&amp;A</em>, 678, A208 (DOI: 10.1051/0004-6361/202347513; arXiv:2309.00048)</p>

<p class="ref-item">Archibald, R. F., et al. 2013, <em>Nature</em>, 497, 591 (DOI: 10.1038/nature12159)</p>

<p class="ref-item">Archibald, R. F., et al. 2017, <em>ApJ</em>, 829, L21 (DOI: 10.3847/2041-8205/829/1/L21; arXiv:1608.01007)</p>

<p class="ref-item">de Graaff, A., et al. 2025, <em>A&amp;A</em> (arXiv:2503.01891)</p>

<p class="ref-item">Dib, R., &amp; Kaspi, V. M. 2014, <em>ApJ</em>, 784, 37 (DOI: 10.1088/0004-637X/784/1/37; arXiv:1401.5738)</p>

<p class="ref-item">Nicolis, A., Rattazzi, R., &amp; Trincherini, E. 2009, <em>Phys. Rev. D</em>, 79, 064036 (DOI: 10.1103/PhysRevD.79.064036; arXiv:0811.2197)</p>

<p class="ref-item">Olausen, S. A., &amp; Kaspi, V. M. 2014, <em>ApJS</em>, 212, 6 (DOI: 10.1088/0067-0049/212/1/6; arXiv:1309.4167)</p>

<p class="ref-item">Şaşmaz Muş, S., et al. 2014, <em>MNRAS</em>, 440, 2916 (DOI: 10.1093/mnras/stu445; arXiv:1402.6054)</p>

</div>

<hr style="margin: 40px 0;">

<div>
    <h2>Contact Information</h2>
    
    <p>Author: Matthew Lukin Smawfield</p>
    <p>Affiliation: Independent Researcher</p>
    <p>Email: <a href="mailto:matthewsmawfield@gmail.com">matthewsmawfield@gmail.com</a></p>
    <p>ORCID: <a href="https://orcid.org/0009-0003-8219-3159">0009-0003-8219-3159</a></p>
    <p>GitHub: <a href="https://github.com/matthewsmawfield">github.com/matthewsmawfield</a></p>
</div>

<hr style="margin: 40px 0;">

<div style="text-align: center; margin-top: 30px;">
    <p style="font-size: 14px; color: #495773; margin: 0;">
        License: This work is licensed under a <a href="https://creativecommons.org/licenses/by/4.0/">Creative Commons Attribution 4.0 International License</a>.
    </p>
    <p style="font-size: 13px; color: #888; margin: 10px 0 0 0;">
        Version: v0.1 (New Delhi) · Last updated: 28 December 2025
    </p>
</div>
